Fentown1/.vs/Fentown1/v15/Server/sqlite3/db.lock
Fentown1/.vs/Fentown1/v15/Server/sqlite3/storage.ide-wal
Fentown1/.vs/Fentown1/v15/Server/sqlite3/storage.ide-shm
Fentown1/.vs/Fentown1/v15/Server/sqlite3/storage.ide
Fentown1/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Fentown1/obj/
Fentown1/Assembly-CSharp.csproj
Fentown1/Fentown1.sln
*.suo
Fentown1/.vs/
Fentown1/Library/
Fentown1/Temp/
